<!-- Verifica se não há usuário logado -->
@if (authService.currentUserSig() == null) {
<div>
  <!-- Links para a página de login e registro -->
  <a routerLink="/login">Entrar</a>
  <a routerLink="/register">Registrar</a>
</div>
}

<!-- Verifica se há usuário logado -->
@if (authService.currentUserSig()) {
<div>
  <!-- Exibe o nome de usuário do usuário logado -->
  {{ authService.currentUserSig()?.username }}
  <!-- Botão para fazer logout -->
  <span (click)="logout()">Sair</span>
</div>
}

<!-- Componente do roteador para renderizar as páginas de login e registro -->
<router-outlet></router-outlet>
